<div class="container-fluid" style="margin-top: 3%">
    <div class="row">
        <div class="col-md-4">
            <div class="cardmain">
                <div class="titleform">
                    <b>{{ button }} Categry</b>
                </div>
                <hr />
                <form [formGroup]="categoryForm" class="padding5">
                    <div class="form-group">
                        <label for="categoryName">Category Name</label>
                        <input type="text" class="form-control" formControlName="categoryName" id="categoryName" [ngClass]="{
                'is-invalid': submitted && f.categoryName.errors,
                invalid_field: submitted && f.categoryName.errors
              }" />
                        <div *ngIf="submitted && f.categoryName.errors" class="invalid-feedback">
                            <div *ngIf="f.categoryName.errors.required">
                                Category Name is required
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="categoryName">File Upload</label>
                        <input type="file" class="form-control" id="imagepath" (change)="handleFileInput($event.target.files)" />
                        <!-- <div *ngIf="submitted && f.imagepath.errors" class="invalid-feedback">
                            <div *ngIf="f.imagepath.errors.required">image is required</div>
                        </div> -->
                    </div>
                    <p *ngIf="downloadedurl">Previous Photo</p>
                    <img *ngIf="downloadedurl" [src]="downloadedurl" style="width: 100px; height: 100px" />

                    <mat-progress-bar *ngIf="submitted" [value]="uploadProgress$ | async" mode="determinate">
                    </mat-progress-bar>
                    <div class="text-center" style="margin-top: 5%">
                        <button type="submit" (click)="Submitform()" class="btn btn-warning">
              {{ button }}
            </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12" style="text-align: right">
                    <mat-form-field appearance="outline" style="margin-top: 2%">
                        <mat-label>Search</mat-label>
                        <input matInput [(ngModel)]="filter" (keyup)="applyFilter($event)" placeholder="Placeholder" />
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="cardmain">
                <mat-table [dataSource]="dataSource" matSort style="width: 100%">
                    <ng-container matColumnDef="Sno">
                        <mat-header-cell *matHeaderCellDef>Sno.</mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index">
                            {{ i + 1 }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="categoryName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{ element.categoryname }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Active">
                        <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-slide-toggle class="example-margin" (change)="togglechange($event, element)" [checked]="element.isActive">
                            </mat-slide-toggle>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-icon aria-hidden="false" (click)="editdata(element)" aria-label="Example home icon">edit</mat-icon>
                            <mat-icon aria-hidden="false" (click)="delete(element)" aria-label="Example home icon">delete</mat-icon>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    <div *matNoDataRow style="
              width: 100%;
              text-align: center;
              color: red;
              margin-top: 15px;
            ">
                        No data Found
                    </div>
                    <!-- <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">
                            No data matching the filter "{{ filter }}"
                        </td>
                    </tr> -->
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>