<main>
    <!-- <p class="mt-4 px-2">
        <i class="fa fa-chevron-left px-2" aria-hidden="true"></i>
        <a style="cursor: pointer">
            <b><u>Back to Home Page</u></b>
        </a>
    </p> -->

    <div class="container-fluid tops mt-5 px-5">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 col-xs-12">
                <div style="margin-top: 100px">
                    <h1>Don't have account ?</h1>
                    <p>Enjoy benefits</p>
                    <p><b>Fast Checkout</b></p>
                    <p>Your payment has saved and ready to apply</p>
                    <p><b>Track Order</b></p>
                    <p>Get update of your order</p>
                    <h3 class="mt-3">
                        <u class="pr-2" style="cursor: pointer">
              <b
                *ngIf="credentialStatus == true"
                routerLink="signin"
                (click)="signInPage()"
                >Already have an account</b
              >
              <b
                *ngIf="credentialStatus != true"
                routerLink="signup"
                (click)="signInPage()"
                >Create an account</b
              >
            </u>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </h3>
                </div>
            </div>
            <div class="col-md-5 col-xs-12 p-5" style="box-shadow: 0px 3px 6px #00000029; border-radius: 5px">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</main>