.carousel-caption {
    position: absolute;
    top: 55%;
    transform: translateY(-80%);
    left: -8%;
}

.maindivflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60vh;
    background-color: #343a40;
    color: white;
}

di .carousel-caption h1 {
    font-size: 40px;
    font-weight: 400;
    color: black;
}

.gridmain {
    display: grid;
    grid-template-columns: 50px auto auto;
    column-gap: 15px;
}

.imagecontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 15%;
}

.carousel-caption p {
    font-weight: 400;
    color: black;
}

#myCarousel-indicators>li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

// product slider
header {
    width: 98%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p span {
    font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}

section {
    width: 98%;
    height: 200px;
    /*background: red;*/
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding-left: 3%;
    padding-right: 3%;
}

section::-webkit-scrollbar {
    display: none;
}

.maincategoryflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-left: 3%;
    padding: 2%;
}

.imagedivofcategory {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.imageofcategory {
    width: 100%;
    min-height: 100%;
    object-fit: contain;
}

section .product {
    min-width: 16%;
    height: 90%;
    margin: 0 20px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    transition: 0.5s;
}

picture {
    width: 100%;
    height: 70%;
    padding: 15px;
    text-align: center;
    /*background: green;*/
    display: flex;
    overflow: hidden;
    margin-bottom: 3px;
}

picture i {
    width: 100%;
}

.leftArrow {
    position: absolute;
    bottom: 80px;
    z-index: 999;
}

.rightArrow {
    position: absolute;
    right: 0px;
    bottom: 80px;
    z-index: 999;
}