<main>
    <h1 style="font-family: Arial, Helvetica, sans-serif;font-size: 3em; margin-bottom: 20px;" class="text-center">Sign In</h1> 
    <form [formGroup]="signinForm"> 
         <div class="form-group">
             <label for="email">Email address</label>
             <input type="email" class="form-control" formControlName="email" id="email"
              [ngClass]="{'is-invalid': submitted && f.email.errors, 'invalid_field': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                 <div *ngIf="f.email.errors.required">Email is required</div>
                 <div *ngIf = "f.email.errors.pattern"> Enter Valid Email</div>
             </div>
         </div>
         <div class="form-group">
             <label for="password">Password</label>
             <input type="password" class="form-control" formControlName="password" id="password"
             [ngClass]="{'is-invalid': submitted && f.password.errors, 'invalid_field': submitted && f.password.errors }">
             <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                 <div *ngIf="f.password.errors.required">password is required</div>
             </div>
         </div>   
         <div class="text-center py-3">
             <button  type="submit" (click)="Submitform()" class="btn btn-warning">Sign in</button>
            <a routerLink="/forgotPassword"><b class="px-2" style="cursor: pointer;">  <u>Forgot Password?</u> </b></a>
         </div>                                                                                                        
   </form>
</main>