<form [formGroup]="returnInfoForm">
  <div class="row">
    <div class="col-md-8">
      <label for="exampleFormControlTextarea1">Enter Return Policy</label>
      <textarea
        class="form-control"
        formControlName="returninfotitle"
        rows="1"
      ></textarea>
      <div *ngIf="submitted && f.returninfotitle.errors" style="color: red">
        <div *ngIf="f.returninfotitle.errors.required">
          <p class="errormsgcss">Policy is Required</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 endtext">
      <label> </label>
      <button type="submit" (click)="Submitform()" class="btn btn-warning">
        Add
      </button>
    </div>
  </div>
</form>
<div style="margin-top: 20px">
  <ng-container *ngIf="returninfo != 0">
    <div class="row" *ngFor="let info of returninfo">
      <div class="col-md-8 centertext">
        <p>{{ info }}</p>
      </div>
      <div class="col-md-4 centertext">
        <mat-icon
          aria-hidden="false"
          (click)="delete(info)"
          aria-label="Example home icon"
          >delete</mat-icon
        >
      </div>
    </div>
  </ng-container>
</div>
