<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span routerLink="/Admin/Products">Tec Galaxy</span>
        <mat-icon class="example-icon" aria-hidden="false" (click)="gotohome()" ria-label=" Example user verified icon ">home</mat-icon>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" (click)="logout()" ria-label=" Example user verified icon ">power_settings_new</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>