<div class="container">
    <div class="row" style="margin-top: 3%">
        <div class="col-md-3" style="margin-top: 3%">
            <div class="cardmain" routerLink="/Admin/Admin-Category">
                <div class="containercard">
                    <h4><b>Category</b></h4>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-top: 3%">
            <div class="cardmain" routerLink="/Admin/Products">
                <div class="containercard">
                    <h4><b>Product</b></h4>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-top: 3%">
            <div class="cardmain" routerLink="/Admin/Deals">
                <div class="containercard">
                    <h4><b>Deal</b></h4>
                </div>
            </div>
        </div>
    </div>
</div>