<div id="about-main">
    <div class="jumbotron">
        <div class="jumbotron-inner">
            <div class="top-box">
                <div class="content-box">
                    <h1>About TECGALAXY</h1>
                    <p>
                        This is a web portal of TECGALAXY, a young and vibrant company that aims to provide good quality branded IT products online.
                    </p>
                </div>
            </div>
        </div>
        <div class="img-layer-container">
            <div class="team-image" id="team-image">
                <img src="https://apimatic.io/img/theme/aboutUs/images-1.png" />
            </div>

            <div class="circles-container">
                <div class="img-1">
                    <img src="https://apimatic.io/img/theme/aboutUs/Circles-1-1.svg" />
                </div>
                <div class="img-2">
                    <img src="https://apimatic.io/img/theme/aboutUs/Circles-2-1.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="story-container">
        <div class="need-for-dx-container">
            <h3 class="text-center">About us</h3>
            <p>
                Being Canada's first dedicated online store for computer components we have earned the loyalty and support of tech-enthusiasts and novice e-shoppers alike. Founded in 2020, the company started off as the brainchild of a group PC enthusiasts, who wanted
                computer components to be more readily available and at lower prices. Theitdepot grew quickly from its humble beginnings to become the site for overclockers and PC enthusiasts.Our website provides detailed specs, how-to's, customer reviews,
                and high resolution photo galleries.
            </p>
        </div>
        <div class="container-divider"></div>
        <div class="origin-story-container">
            <h3 class="text-center">Reviews</h3>
            <p>
                <i>The main objective of ours is to supply hardware products and components 
                    for Desktops, Pc’s online, where the user can signup to purchase any of the 
                    products. Our website also provides the flexibility to the users to build 
                    customizable products/machines according to their required specifications 
                    with an additional feature of user specific questionnaire which provides 
                    with a list of products.
        </i>
            </p>
            <p>
                <i>The digital market of hardware components is growing expeditiously in the 
                    contemporary world. Our Tec Galaxy Website is focused on delivering digital 
                    hardware products where user can surf through our simple and smartly crafted 
                    website with a further option to build user specific customized machines.
                     This user-friendly website is for the people who are looking to get their
                      hands on to the hardware products and components even if they have zero
                       knowledge about it. The website includes an additional feature where the
                        user can simply fill up the questionnaire and the users are provided 
                        with a list of components from which, they can choose accordingly.
                    
        </i>
            </p>
            <p>
                <i>As the name suggests Tec Galaxy – It is the galaxy of the digital 
                    technological machines as well as hardware products and components.
        </i>
            </p>
        </div>
        <div class="container-divider"></div>
    </div>
</div>