<!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet> -->

<div class="navbarContainer">

  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-dark navbar-offcanvas" style="background-color: #155592;">
      
      <button class="navbar-toggler d-block text-white" type="button" id="navToggle">
          <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div style="width:11%;margin: auto;">
          <a class="navbar-brand" href="#" style="width: 100%;">
            <img src="../../assets/images/tecLogo.jpg" width="100%" height="30" class="d-inline-block align-top" alt="image">
          </a>
        </div>
        <form class="form-inline mx-auto">
          <div class="input-group" style="width: 80%;">
            <input type="text" class="form-control" placeholder="Search this blog">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
            </div>
        </form>
        <div class="form-inline mt-1 mx-auto">
          <div class="d-flex">
            <div class="mx-3">
              <span class="px-2"><i class="fa fa-user-circle" style="color: white; font-size: 1.4em;" aria-hidden="true"></i>
              </span>
              <!-- <span class="text-white mb-1" style="font-size: 1em;display: inline-block;"></span> -->
              <li class="nav-item dropdown" style="font-size: 1em;display: inline-block;">
                <a class="nav-link dropdown-toggle text-white mb-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" style="color: white;" href="#">Logout</a>
                </div>
              </li>
            </div>
            <div class="mr-5">
              <span class="px-2 mt-2"><i class="fa fa-shopping-cart" style="color: white; font-size: 1.4em;" aria-hidden="true"></i>
              </span>
              <span class="text-white mt-2" style="font-size: 1em; display: inline-block;">Cart</span>
            </div>
          </div>
        </div>
      

      <div class="navbar-collapse offcanvas-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" >Laptops</a>
                  <a class="dropdown-item" >Mobiles</a>
                  <a class="dropdown-item" >Keyboards</a>
              </div>
          </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/">Order History</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link"routerLink="/">Account Info</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/">Logout</a>
              </li>
              
          </ul>


      </div>
  </nav>
</div>
<main style="margin: 60px 0px;">
  <router-outlet></router-outlet>
</main>
<footer class="bg-dark mt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="row my-4">
                  <div class="col-md-4 text-warning">
                      <div class="py-1"> <p style="font-size: 1.3em;">About Us</p> </div>
                      <div class="py-1"><p>Careers</p></div>
                      <div class="py-1"><p>Corporate Information</p></div>
                      <div class="py-1"><p>About T&c Galary</p></div>
                  </div>
                  <div class="col-md-4 text-warning">
                      <div class="py-1"> <p style="font-size: 1.3em;">Customer Support</p> </div>
                      <div class="py-1"><p>Contact Us</p></div>
                      <div class="py-1"><p>Help Center</p></div>
                      <div class="py-1"><p>Returns</p></div>
                  </div>
                  <div class="col-md-4 text-warning">
                      <div class="py-1"><p style="font-size: 1.3em;">International Sites</p></div>
                      <div class="py-1"><p>T&c Galary India</p></div>
                      <div class="py-1"><p>T&c Galary US</p></div>
                  </div>
              </div>
              <div class="row my-4">
                  <div class="col-md-2">
                      <div class="row text-center">
                          <div class="col text-warning"><i class="fa fa-facebook-square" aria-hidden="true"></i></div>
                          <div class="col text-warning"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                          <div class="col text-warning"><i class="fa fa-linkedin-square" aria-hidden="true"></i></div>
                          <div class="col text-warning"><i class="fa fa-twitter-square" aria-hidden="true"></i></div>
                      </div>
                  </div>
                  <div class="col-md-6"></div>
              </div>
          </div>
      </div>
  </div>
</footer>