<div class="row">
    <div class="col-md-8">
        <label for="categoryName">File Upload</label>
        <input type="file" class="form-control" id="imagepath" (change)="handleFileInput($event.target.files)" />
        <mat-progress-bar *ngIf="submitted" [value]="uploadProgress$ | async" mode="determinate"></mat-progress-bar>
    </div>
    <div class="col-md-4 endtext">
        <label> </label>
        <button type="button" (click)="Submitform()" class="btn btn-warning">
      Add
    </button>
    </div>
</div>

<div class="row">
    <ng-container *ngIf="picinfo != 0">
        <div class="col-md-2" style="margin-top: 1%" *ngFor="let info of picinfo">
            <div class="card">
                <img class="card-img-top" [src]="info" alt="Card image cap" height="150px" />
                <button type="button" (click)="deleteUrl(info)" class="btn btn-warning">
          Delete
        </button>
            </div>
        </div>
    </ng-container>
</div>